<template>
	<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<div class="navbar-nav v-25">			
					<router-link   class="nav-item nav-link" :to="{name: 'get.index'}">Get</router-link>
					<router-link v-if="!token" class="nav-item nav-link" :to="{name: 'user.login'}">Login</router-link>
					<router-link v-if="!token" class="nav-item nav-link" :to="{name: 'user.registration'}">Registration</router-link>
					<router-link v-if="token"  class="nav-item nav-link" :to="{name: 'user.personal'}">Personal</router-link>
					<router-link v-if="token" class="nav-item nav-link" :to="{name: 'user.index'}">Index</router-link>
					<a v-if="token"  class="nav-item nav-link" @click.prevent = "logout" href="#">Logout</a>
				</div>
				
			</div>
		</nav>
		<div>
			<router-view></router-view>
		</div>
	</div>

	
	


</template>

<script>
export default {
	data(){
    		return{
    			token: null
    		}
    	},
  name: 'App',
  methods: {
  	 getToken(){
    	 	this.token= localStorage.getItem('x_xsrf_token' )
    	 },	

  	logout(){
  		console.log('this logout')
  		axios.post('/logout')
  		.then( res => {
  			localStorage.removeItem('x_xsrf_token' )
  			this.$router.push({name: 'user.login'} )
  		})
  	}
  },

    mounted() {
            this.getToken()
        },
      updated(){
     	this.getToken()
     }
}
</script>

<style lang="css" scoped>
</style>
