<template>
    <div class="container">
        <p>7get</p>
    </div>
</template>

<script>
    export default {
        name : 'Get',
        mounted() {
            this.getData1()
        },
        methods: {
        	getData1(){
        		axios.get('/api/get').then(res => {
        			console.log(res)
        		})
        	}
        },

    }
</script>
