<template>
    <div class="container">
        <p>4index4</p>
    </div>
</template>

<script>
    export default {
    	
    	methods: {
    	
		 logout(){
		  		console.log('this logout')
		  		axios.post('/logout')
		  		.then( res => {
		  			localStorage.removeItem('x_xsrf_token' )
		  			this.$router.push({name: 'user.login'} )
		  		})
		  	}
  		},
        name : 'Index',
      
    }
</script>
