<template>
    <div class="container ">
      <input type="email"  v-model="email"  placeholder="email" class="form-control ">
      <input type="password" v-model="password"  placeholder="password" class="form-control ">
      <input type="submit" @click.prevent = "login"  value="login" class="btn btn-danger">
    </div>
</template>

<script>
    export default {
    	name : 'Login',
        data() {
        	return {	
        		email : null,
        		password : null,
        	}
        },
        mounted() {
           
        },
        methods: {
        	login(){
        		axios.get('/sanctum/csrf-cookie')
                .then(response => {
    				axios.post('/login' ,{email: this.email, password:this.password})
    				.then( rez => {
    					 //console.log(rez);
                        //console.log(rez.config.headers['X-XSRF-TOKEN']);
                        localStorage.setItem('x_xsrf_token',rez.config.headers['X-XSRF-TOKEN'] )
                        this.$router.push({name: 'user.personal'} )
    				})
                    .catch(err => {

                    })
				});
        		
        	}

        },    
    }
</script>
