<template>
    <div class="container">
        <p>personal</p>
    </div>
</template>

<script>
    export default {
        name : 'Index',
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
