<template>
    <div class="container">
     
      <input type="email"  v-model="email"  placeholder="email" class="form-control">
      <input type="name"  v-model="name"  placeholder="name" class="form-control">
      <input type="password" v-model="password"  placeholder="password" class="form-control">
      <input type="password" v-model="password_confirmation"  placeholder="confirmpasswordpassword" class="form-control">
      <input type="submit" @click.prevent = " register" value="register" class="btn btn-danger">
    </div>
</template>

<script>
    export default {
        name : 'Registration',
        data(){
        	return{
        		email: null,
        		name: null,
        		password: null,
        		password_confirmation: null,
        	}
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
        	register(){
        		axios.get('/sanctum/csrf-cookie').
        		then(response => {
	        		axios.post('/register', {email: this.email, 
	        			password: this.password ,
	        			name: this.name ,
	        			password_confirmation: this.password_confirmation 
	        		}).then(res => {
	        				//console.log(res)
                             localStorage.setItem('x_xsrf_token',res.config.headers['X-XSRF-TOKEN'] )
                              this.$router.push({name: 'user.personal'} )
	        		}) 
        		})
        	}
        }
    }
</script>